<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabriel.inventory_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".Inventory_pg.office.OfficeActivity" />
        <activity android:name=".Inventory_pg.office.NewOffice" />
        <activity android:name=".Inventory_pg.floor.FloorActivity" />
        <activity android:name=".Inventory_pg.floor.NewFloor" />
        <activity android:name=".Inventory_pg.room.NewRoom" />
        <activity android:name=".Inventory_pg.room.RoomActivity" />
        <activity android:name=".Inventory_pg.thing.ThingActivity" />
        <activity android:name=".Inventory_pg.thing.NewThing" />
        <activity android:name=".Inventory_pg.office.ChangeOffice" />
        <activity android:name=".Inventory_pg.floor.ChangeFloor" />
        <activity android:name=".Inventory_pg.room.ChangeRoom" />
        <activity android:name=".Inventory_pg.thing.ChangeThing" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".Inventory_pg.thing.ThingInfoActivity" />
        <activity android:name=".History.HistoryActivity" />
        <activity android:name=".History.TimeActivity"></activity>
    </application>

</manifest>